<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@300;400;500;600;700;800&family=Kanit:wght@600&display=swap"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}"
	/>
	{%- seo -%}
</head>
